<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Documentation Links</h3>
      <ul>
        <li><a href="{{{or site.url siteRootPath}}}">Home</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Project Information</h3>
      <ul>
        <li><p>Copyright © 2023–2024 Sakura boot — All rights reserved.</p></li>
        <li><p>Sakura boot is licensed under the Apache 2.0 License.
          <a href="https://www.apache.org/licenses/LICENSE-2.0">View license details.</a></p></li>
        <li><p>The project is hosted on
          <a href="https://github.com/Sansen-Shimizu/sakura-boot">GitHub</a>.</p></li>
        <li><p>The documentation version for this page is: {{page.version}}</p></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contact</h3>
      <ul>
        <li><a href="mailto:malcolm@sansenshimizu.com">malcolm@sansenshimizu.com</a></li>
        <li><a href="https://sansen-shimizu.co.jp/">Sansen Shimizu</a></li>
      </ul>
    </div>
  </div>
</footer>
